<div class="container">
    <img src="images/jensen-logo.png" alt="logo" />

    <nav>
        <button>
            Profile
            <img src="/images/button-images/material-symbols-light_account-circle-outline.png">
        </button>
        <button>
            Dashboard
            <img src="/images/button-images/material-symbols-light_dashboard-outline.png">
        </button>
        <button routerLink="/courses" routerLinkActive="clicked-button">
            Courses
            <img src="/images/button-images/material-symbols-light_book-4-outline.png">
        </button>
        <button>
            Messages
            <img src="/images/button-images/material-symbols-light_mark-email-unread-outline-sharp.png">
        </button>
        <button>
            Analytics
            <img src="/images/button-images/material-symbols-light_bar-chart-4-bars.png">
        </button>
        <button routerLink="/persons" routerLinkActive="clicked-button">
            Users
            <img src="/images/button-images/material-symbols-light_supervisor-account-outline.png">
        </button>
    </nav>
</div>