<div class="container">
    <img class="person-avatar" src="/images/user-avatar.png" alt="person-avatar"/>
    <div class="person-info-container">
        <h3 class="person-name">Marcus Wood</h3>
        <div class="person-info">
            <img src="/images/material-symbols-light_phone-in-talk-outline-sharp.png"/>
            <p class="person-info-item">+ 44 901001 - 1234</p>
            <img src="/images/Ellipse.png"/>

            <img src="/images/mail.png" style="margin-left: 10px;"/>
            <p class="person-info-item">marcus.woodwart.school.se</p>
            <img src="/images/Ellipse.png"/>

            <img src="/images/education.png" style="margin-left: 10px;"/>
            <p class="person-info-item">school department</p>
        </div>
    </div>
</div>