<div class="container">
    <h1 class="page-title">Persons</h1>

    <div class="content-and-filters-container">
        <app-persos-content class="persons-content" />
        <app-persons-filters class="persons-filters" />
    </div>

    <div class="page-number-buttons-container">
        <button class="page-number-button pressed-page-number-button">
            1
        </button>
        <button class="page-number-button">
            2
        </button>
        <button class="page-number-button">
            3
        </button>
        <button class="page-number-button">
            4
        </button>
    </div>

</div>