<div>
    <div class="path">
        <label>Courses</label>
        <img class="slash" src="/images/slash.png" />

        <label>Breadcrumbs</label>
        <img class="slash" src="/images/slash.png" />

        <label style="color: #092435;">Persons</label>
    </div>

    <div class="dropdown-position">
        <div class="dropdown">
            <button class="dropdown-button">
                <div class="dropdown-button-content">
                    Show 5 users by page
                    <img class="dropdown-arrow-image" src="/images/material-symbols-light_keyboard-arrow-down.png"/>
                </div>
            </button>
            <div class="dropdown-content">
                <a>Show 3 users by page</a>
                <a>Show 4 users by page</a>
                <a>Show 5 users by page</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <app-person-info-item class="person-info-item" />
    <app-person-info-item class="person-info-item" />
    <app-person-info-item class="person-info-item" />
    <app-person-info-item class="person-info-item" />
    <app-person-info-item class="person-info-item" />
</div>