:host{
    display: flex;
}

img{
    width: 46px;
    height: 46px;
}

.user-info-container{
    margin: 8px 15px;
}

p{
    margin: 0px;
    margin-top: -5px;
}

.name{
    font-size: 18px;
    font-family: 'TestTiemposText';
}

.role{
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 1px;
    color: #84919A;
}