<div class="container">

    <div class="dropdown" style="align-self: flex-end;">
        <button class="dropdown-button">
            <div class="dropdown-button-content">
                Set an Action
                <img class="dropdown-arrow-image" src="/images/material-symbols-light_keyboard-arrow-down.png"/>
            </div>
        </button>
        <div class="dropdown-content">
            <a>Option 1</a>
            <a>Option 2</a>
            <a>Option 3</a>
        </div>
    </div>

    <br/>

    <div class="content-container">
        <app-ability class="ability" />
        <div *ngFor="let row of rowsArray; let i = index" class="items-row">
            <app-rubric-content-item headerText="Requirement A" />
            <app-rubric-content-item headerText="Grade E" />
            <app-rubric-content-item headerText="Grade C" />
            <app-rubric-content-item headerText="Grade A" />
        </div>
    </div>
</div>