@font-face {
    font-family: 'TestTiemposText';
    src: url('/fonts/test-tiempos-text-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TestTiemposFine';
    src: url('/fonts/test-tiempos-fine-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-title {
    font-family: 'TestTiemposFine';
    font-weight: 500;
    font-size: 52px;
}

.clear-all-button {
    all: unset;
    cursor: pointer;
    font-family: 'Inter';
    font-size: 14px;
    border: black 1px solid;
    border-radius: 2px;
    background-color: #fff;
    color: black;
    text-transform: uppercase;
    padding: 15px 50px;
    letter-spacing: 2px;
    text-align: center;
}

.apply-filter-button {
    all: unset;
    cursor: pointer;
    font-family: 'Inter';
    font-size: 14px;
    border-radius: 2px;
    background-color: #C19B5C;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 50px;
    letter-spacing: 2px;
    text-align: center;
}

.dropdown-button {
    background-color: #fff;
    font-family: 'TestTiemposText';
    color: #84919A;
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    cursor: pointer;
    min-width: 160px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'TestTiemposText';
    color: #84919A;
    font-size: 16px;
    font-weight: 400;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}
