<div class="container">
    <h1 class="page-title">Courses</h1>

    <div class="path">
        <label>Courses</label>
        <img class="slash" src="/images/slash.png"/>
        
        <label>Breadcrumbs</label>
        <img class="slash" src="/images/slash.png"/>

        <label style="color: #092435;">Persons</label>
    </div>

    <app-course-rubric/>

    <div class="control-buttons-container">
        <button class="clear-all-button">Clear all</button>
        <button style="margin-left: 20px;" class="apply-filter-button">Apply filter</button>
    </div>
</div>