<h3 class="filters">Filters</h3>

<div class="container">
    <div class="filter-group">
        <h3 class="filter-group-title">Role</h3>

        <div>
            <label>
                <input type="checkbox" />
                Student
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" />
                Caretaker
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" />
                Teacher
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" />
                Admin
            </label>
        </div>
    </div>
    <div class="filter-group">
        <h3 class="filter-group-title">Unit</h3>

        <div>
            <label>
                <input type="checkbox" />
                Preschool
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" />
                High School
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" />
                Gymnasium
            </label>
        </div>
    </div>

    <div class="filter-group">
        <h3 class="filter-group-title">Unit</h3>

        <div>
            <label>
                <input type="checkbox" />
                Language
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" />
                Math
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" />
                Science
            </label>
        </div>
    </div>

    <div class="button-group">
        <button class="apply-filter-button">Apply Filters</button>
        <button class="clear-all-button" style="margin-top: 13px;">Clear All</button>
    </div>
</div>